@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root{
    --cor-primaria: #222324;
    --cor-secundaria: #F4F7F5;
    --cor-terciaria: #63C7B2;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
::-webkit-scrollbar{
    width: 0%;
}

* {
    zoom: 0.95;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu{
    display: flex;
    gap: 50px;
}

.cabecalho_menu_link{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    transition: 500ms;
}

.cabecalho_menu_link:hover{
    font-size: 1.6rem;
    transition: 500ms;
    color: #7ac5b5;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo{
    font-size: 2.20rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao_conteudo_texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao_links{
    display: flex;
    margin: 10%;
    flex-direction: column	;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.apresentacao_links_subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}


.apresentacao_links_navegacao{
    padding: 0.8em 1.8em;
    width: 100%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-decoration: none;
    
}

.apresentacao_links_navegacao:before {
    content: '';
    width: 0;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    background: var(--cor-terciaria);
    color: var(--cor-secundaria);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.apresentacao_links_navegacao:hover::before {
    width: 105%;
}

.apresentacao_links_navegacao:hover {
    color: var(--cor-primaria);  
    width: 102%;
}

/* -------------------------------card responsivo a hover mouse---------------------------------------- */
.card {
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
    margin: 15px;
    width: 40%;
    height: 60%;
   }
   
   .card2 {
    border-radius: 18px;
    background-color: #151515;
    transition: all .2s;
    padding: 2%;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
   }

.pic{
    width: 100%;
    border-radius: 20px;
}




   .rodape{
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    padding: 25px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

@media (max-width: 1200px ) {

    .cabecalho{
        padding: 3%;
    }

    .cabecalho_menu{
        justify-content: center;
    }

   .apresentacao{
    padding: 1% 5% 5% 5%;
    align-items: center;
    flex-direction: column-reverse;
    gap: 8px;
    }

   .apresentacao_conteudo{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    }

    .card{
        width: 60% ; 
    }

    



}